{% extends "base.html" %} {% load static %} {% block content %}
<!-- Basic Horizontal form layout section start -->
<section id="basic-horizontal-layouts">
  <div class="row match-height justify-content-center">
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{nama}}</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form
              class="form form-horizontal"
              method="POST"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="form-body">
                <div class="row">
                  <div class="col-md-4">
                    <label for="CodeK">Code Kriteria</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      type="text"
                      id="CodeK"
                      class="form-control"
                      name="namaCode"
                      value="{{krit_value.codeK}}"
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="NamaK">Nama Bobot</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      type="text"
                      id="NamaK"
                      class="form-control"
                      name="namaKriteria"
                      value="{{krit_value.namaK}}"
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="NamaK">Kelas</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <select
                      class="form-select"
                      name="kelasK"
                      aria-label="Default select example"
                    >
                      {% if krit_value.kelasK == "Benefit" %}
                      <option value="Benefit" selected>Benefit</option>
                      <option value="Cost">Cost</option>

                      {% elif krit_value.kelasK == "Cost" %}
                      <option value="Cost" selected>Cost</option>
                      <option value="Benefit">Benefit</option>
                      {% else %}

                      <option selected>Select Kelas</option>
                      <option value="Benefit">Benefit</option>
                      <option value="Cost">Cost</option>
                      {% endif %}
                    </select>
                  </div>
                  <div class="col-sm-12 d-flex pt-4">
                    <button type="button" class="btn btn-danger mb-1 me-auto">
                      <a
                        href="{% url 'kriteria' %}"
                        class="text-decoration-none text-white"
                        >Cancel</a
                      >
                    </button>
                    <button type="submit" class="btn btn-primary mx-1 mb-1">
                      Submit
                    </button>
                    <button
                      type="reset"
                      class="btn btn-light-secondary mx-1 mb-1"
                    >
                      Reset
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic Horizontal form layout section end -->

{% endblock content %}
