{% extends "base.html" %} {% load static %} {% block content %}
<!-- Basic Horizontal form layout section start -->
<section id="basic-horizontal-layouts">
  <div class="row match-height justify-content-center">
    <div class="col-md-6 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{nama}}</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <form
              class="form form-horizontal"
              method="POST"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="form-body">
                <div class="row">
                  <div class="col-md-4">
                    <label for="K1">K1 - IPK</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      type="text"
                      id="K1"
                      class="form-control"
                      name="K1"
                      value="{{subalter_value.k1sa}}"
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="K2">K2 - MASA STUDI</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      type="text"
                      id="K2"
                      class="form-control"
                      name="K2"
                      value="{{subalter_value.k2sa}}"
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="K3">K3 - PRESTASI</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      type="text"
                      id="K3"
                      class="form-control"
                      name="K3"
                      value="{{subalter_value.k3sa}}"
                    />
                  </div>
                  <div class="col-md-4">
                    <label for="K4">K4 - TUGAS AKHIR</label>
                  </div>
                  <div class="col-md-8 form-group">
                    <input
                      type="text"
                      id="K4"
                      class="form-control"
                      name="K4"
                      value="{{subalter_value.k4sa}}"
                    />
                  </div>

                  <div class="col-sm-12 d-flex pt-4">
                    <button type="button" class="btn btn-danger mb-1 me-auto">
                      <a
                        href="{% url 'subalternatif' %}"
                        class="text-decoration-none text-white"
                        >Cancel</a
                      >
                    </button>
                    <button type="submit" class="btn btn-primary mx-1 mb-1">
                      Submit
                    </button>
                    <button
                      type="reset"
                      class="btn btn-light-secondary mx-1 mb-1"
                    >
                      Reset
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- // Basic Horizontal form layout section end -->

{% endblock content %}
