{% extends "base.html" %} {% load static %} {% block content %}
<div class="page-heading text-center">
  <h3>{{nama}}</h3>
</div>

<section class="section">
  <div class="card">
    <div class="card-header align-items-center">
      <h5 class="card-title">Data Sub-Alternatif</h5>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NIM</th>
            <th>Nama Mahasiswa</th>
            <th>K1</th>
            <th>K2</th>
            <th>K3</th>
            <th>K4</th>
            <th>Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for subalter in subAlternatif %}
          <tr>
            <td>{{ subalter.codeNim.nimA }}</td>
            <td>{{ subalter.namaSA }}</td>
            <td>{{ subalter.k1sa|default_if_none:"" }}</td>
            <td>{{ subalter.k2sa|default_if_none:"" }}</td>
            <td>{{ subalter.k3sa|default_if_none:"" }}</td>
            <td>{{ subalter.k4sa|default_if_none:"" }}</td>
            <td>
              <button class="btn btn-warning p-1">
                <a
                  href="{% url 'editsubalternatif' subalter.id %}"
                  class="text-decoration-none text-white"
                  ><i class="bi bi-pencil-square"></i
                ></a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h6 class="mt-3">Keterangan Kriteria</h6>
      <ul>
        <li>K1 = IPK</li>
        <li>K2 = MASA STUDI</li>
        <li>K3 = PRESTASI</li>
        <li>K4 = TUGAS AKHIR KIAN</li>
      </ul>
    </div>
  </div>
</section>
{% endblock content %} {% block js %}
<script src="{% static 'assets/extensions/simple-datatables/umd/simple-datatables.js' %}"></script>
<script src="{% static 'assets/static/js/pages/simple-datatables.js' %}"></script>
{% endblock js %}
